.error {
    color: red;
}
html, body {
    font-family: Arial, sans-serif;
    padding: 0 !important;
    margin: 0 !important;
}
p {
    padding: 0 !important;
    margin: 0 !important;
}
.content {
    position: absolute;
    bottom: 0;
    margin-bottom: 10pt;
    clear: both;
    width: 100%;
    flex: auto;

}
.overlay {
    min-height: 170pt;
    padding-top: 10pt;
    padding-bottom: 10pt;
}
.test {
    background-color: #000;
}