<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Quelobizer - Configuration</title>
    <div th:replace="fragment/head"></div>
</head>
<body>
<div th:replace="fragment/navbar"></div>
<div class="container p-5">
    <div class="container-fluid">
        <h1>Quelea server configuration:</h1>
        <div th:if="${error}" class="alert alert-danger alert-primary alert-dismissible fade show" role="alert">
            <div th:text="${error}"/>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <form action="#" th:action="@{/config}" th:object="${queleaProperties}" method="post">
            <div class="form-group">
                <label for="queleaUrl">URL</label>
                <input class="form-control" id="queleaUrl" name="url" th:field="*{url}" type="text"/>
                <small class="form-text text-muted">(eg. http://192.168.100.15:1112)</small>
            </div>
            <div class="form-group">
                <label for="queleaPassword">Password</label>
                <input class="form-control" id="queleaPassword" name="password" type="password" th:field="*{password}"/>
            </div>
            <input type="submit" class="btn btn-primary" value="Go"/><br/><br/>
        </form>
        You can find the url in quelea settings:<br/>
        <img th:src="@{/images/settings.png}" width="800" alt="quelea settings screen"/>
    </div>
</div>
</body>
</html>
