<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Quelobizer - Lyrics</title>
    <script xmlns:th="http://www.thymeleaf.org" type="text/javascript" th:inline="javascript">
        /*<![CDATA[*/
        const isTest = /*[[${isTest}]]*/ 'false';
        const refreshInterval = /*[[${refreshInterval}]]*/ '500';
        /*]]>*/
    </script>
    <script type="text/javascript" th:src="@{/webjars/jquery/3.5.1/jquery.js}"></script>
    <script type="text/javascript" th:src="@{/js/default.js}"></script>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
    <style>
        html, body {
            width: 100%;
            text-align: center;
            font-size: 35pt;
        }
    </style>
</head>
<body th:class="${#bools.isTrue(isTest)} ? test : ''">
<div class="content">
    <div th:class="${#bools.isTrue(options.overlay)} ? overlay : ''" th:fragment="lyrics">
        <span th:utext="${lyrics}"></span>
    </div>
</div>
</body>
</html>
