<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Quelobizer - Lyrics</title>
    <th:block th:if="${#httpServletRequest.requestURI.contains('test')}">
        <th:block th:replace="fragment/head"/>
    </th:block>
    <script xmlns:th="http://www.thymeleaf.org" type="text/javascript" th:inline="javascript">
        /*<![CDATA[*/
        const isTest = /*[[${isTest}]]*/ 'false';
        const refreshInterval = /*[[${refreshInterval}]]*/ '500';
        /*]]>*/
    </script>
    <script type="text/javascript" th:src="@{/webjars/jquery/3.5.1/jquery.js}"></script>
    <script type="text/javascript" th:src="@{/js/default.js}"></script>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
    <style>
        html, body {
            width: 100%;

        }
        .content {
            font-size: 35pt;
            text-align: center;
        }
    </style>
</head>
<body th:class="${#bools.isTrue(isTest)} ? test : ''">
<th:block th:if="${#httpServletRequest.requestURI.contains('test')}">
    <th:block th:replace="fragment/navbar"/>
</th:block>
<div class="content">
    <div th:style="${#bools.isTrue(options.overlay) && #bools.isFalse(isBlank) ? 'background-color: rgba(' + options.backgroundColorRGBA + ');' : ''}" th:class="${#bools.isTrue(options.overlay) && #bools.isFalse(isBlank)} ? overlay : ''" th:fragment="lyrics">
        <span th:style="${'color: ' + options.textColor + ';font-family: ' + options.fontFamily + ';'}" th:utext="${lyrics}"></span>
    </div>
</div>
</body>
</html>
